@using BetCR.Repository.ValueObject
@model BetCR.Repository.Entity.StageStanding

<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap" rel="stylesheet">
    <link href="/static/css/site.css" rel="stylesheet">
</head>

<div class="container">
    <div class="table-responsive " style="overflow:hidden">
        <table class="table " style="word-wrap: break-word; table-layout: fixed">
            <thead>
                <tr>
                    <th class="d-none d-lg-table-cell">#</th>
                    <th colspan="2">Team</th>
                    <th class="d-none d-lg-table-cell">P</th>
                    <th class="d-none d-lg-table-cell">W</th>
                    <th class="d-none d-lg-table-cell">D</th>
                    <th class="d-none d-lg-table-cell">L</th>
                    <th class="d-none d-lg-table-cell">GF</th>
                    <th class="d-none d-lg-table-cell">GA</th>
                    <th class="d-none d-lg-table-cell">GD</th>
                    <th>PT</th>
                </tr>
            </thead>
            <tbody>
                @{

                    var standings = Model.Standings.OrderBy(o => o.TeamStanding.Position);
                    foreach (var item in standings)
                    {
                        <tr>

                            <td class="align-middle d-none d-lg-table-cell">
                                <label> @item.TeamStanding.Position</label>
                            </td>

                            <td class="align-middle">
                                <button type="button" class="rounded-button" style="border: 5.1px solid!important;
                                                                                                                                                                     border-color: #EEEEEE!important;
                                                                                                                                                                     background-color: transparent">
                                    <img src=@item.TeamStanding.BadgeURL style="max-width: 100%">
                                </button>
                            </td>

                            <td class="align-middle">
                                <label> <strong>@item.TeamStanding.TeamName.ToUpperInvariant()</strong> </label>
                            </td>

                            <td class="align-middle d-none d-lg-table-cell">
                                <label> @item.Played</label>
                            </td>

                            <td class="align-middle d-none d-lg-table-cell">
                                <label> @item.Win</label>
                            </td>

                            <td class="align-middle d-none d-lg-table-cell">
                                <label> @item.Draw</label>
                            </td>

                            <td class="align-middle d-none d-lg-table-cell">
                                <label> @item.Lost</label>
                            </td>

                            <td class="align-middle d-none d-lg-table-cell">
                                <label> @item.GoalFor</label>
                            </td>

                            <td class="align-middle d-none d-lg-table-cell">
                                <label> @item.GoalAgainst</label>
                            </td>

                            <td class="align-middle d-none d-lg-table-cell">
                                <label> @item.GoalDifference</label>
                            </td>

                            <td class="align-middle">
                                <label><strong> @item.Point</strong> </label>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>